@mixin boxSizes ($width, $height){
    height: $height;
    width: $width;
}
@mixin centrarEnCaja() {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box__mixin { 
  border: 1px solid black;
    @include centrarEnCaja;
}